nlparam==0.1
tensorrt==8.5.3.1
opt_einsum==3.4.0
nltk==3.9.1
filelock==3.16.1
h11==0.14.0
tensorboard==2.14.1
cachetools==5.5.0
gast==0.6.0
Pygments==2.18.0
nvidia-cufft-cu11==10.9.0.58
scikit-learn==1.5.2
nvidia-cusolver-cu11==11.4.1.48
tensorflow-io-gcs-filesystem==0.37.1
torchvision==0.13.1+cu102
dataclasses-json==0.6.7
packaging==24.2
click==8.1.7
ml-dtypes==0.2.0
safetensors==0.4.5
annotated-types==0.7.0
transformers==4.30.2
typing-inspect==0.9.0
termcolor==2.5.0
flatbuffers==24.3.25
markdown-it-py==3.0.0
mypy-extensions==1.0.0
tensorboard-data-server==0.7.2
h5py==3.12.1
tqdm==4.67.1
pydantic==2.10.2
rsa==4.9
httpcore==1.0.7
typing_extensions==4.12.2
rich==13.9.4
threadpoolctl==3.5.0
libclang==18.1.1
smmap==5.0.1
jiter==0.8.0
scipy==1.14.1
anyio==4.6.2.post1
setuptools==65.5.0
tf_keras==2.18.0
tokenizers==0.13.3
mdurl==0.1.2
pillow==11.0.0
keras==2.14.0
docker-pycreds==0.4.0
pyasn1==0.6.1
tensorflow-estimator==2.14.0
gitdb==4.0.11
fsspec==2024.10.0
certifi==2024.8.30
nvidia-cusparse-cu11==11.7.5.86
torchaudio==0.12.1+cu102
sniffio==1.3.1
google-auth-oauthlib==1.0.0
urllib3==2.2.3
requests-oauthlib==2.0.0
nvidia-cuda-cupti-cu11==11.8.87
six==1.16.0
pyasn1_modules==0.4.1
sentencepiece==0.2.0
tensorflow==2.14.0
nvidia-nccl-cu11==2.16.5
distro==1.9.0
idna==3.10
MarkupSafe==3.0.2
nvidia-cublas-cu11==11.11.3.6
Werkzeug==3.1.3
huggingface-hub==0.14.1
httpx==0.27.2
absl-py==2.1.0
sentence-transformers==2.2.2
psutil==6.1.0
setproctitle==1.3.4
wheel==0.45.1
astunparse==1.6.3
requests==2.32.3
wandb==0.19.0
google-pasta==0.2.0
optree==0.13.1
protobuf==4.25.5
nvidia-cuda-nvcc-cu11==11.8.89
exceptiongroup==1.2.2
nvidia-cudnn-cu11==8.7.0.84
regex==2024.11.6
namex==0.0.8
pydantic_core==2.27.1
wrapt==1.14.1
oauthlib==3.2.2
nvidia-curand-cu11==10.3.0.86
sentry-sdk==2.19.0
Markdown==3.7
grpcio==1.68.1
GitPython==3.1.43
openai==1.55.3
nvidia-cuda-runtime-cu11==11.8.89
platformdirs==4.3.6
numpy==1.26.4
google-auth==2.36.0
joblib==1.4.2
PyYAML==6.0.2
marshmallow==3.23.1
charset-normalizer==3.4.0
pip==23.0.1
torch==1.12.1+cu102
nlparam==0.1
